In [5]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

Grab the dataset and split it into testing and training datasets

In [2]:
train_df = pd.read_csv('https://firebasestorage.googleapis.com/v0/b/bible-project-2365c.appspot.com/o/train.csv?alt=media&token=9c5d17c2-0589-43ea-b992-e7c2ad02d714', index_col='ID')
train_df.head()

       crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
ID                                     ...
1   0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
2   0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
4   0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
5   0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
7   0.08829  12.5   7.87     0  0.524  ...  311     15.2  395.60  12.43  22.9

[5 rows x 14 columns]

In [3]:
test_df = pd.read_csv('https://firebasestorage.googleapis.com/v0/b/bible-project-2365c.appspot.com/o/test.csv?alt=media&token=99688b27-9fdb-4ac3-93b8-fa0e0f4d7540', index_col='ID')
test_df.head()

       crim    zn  indus  chas    nox  ...  rad  tax  ptratio   black  lstat
ID                                     ...
3   0.02729   0.0   7.07     0  0.469  ...    2  242     17.8  392.83   4.03
6   0.02985   0.0   2.18     0  0.458  ...    3  222     18.7  394.12   5.21
8   0.14455  12.5   7.87     0  0.524  ...    5  311     15.2  396.90  19.15
9   0.21124  12.5   7.87     0  0.524  ...    5  311     15.2  386.63  29.93
10  0.17004  12.5   7.87     0  0.524  ...    5  311     15.2  386.71  17.10

[5 rows x 13 columns]

In [4]:
predictors = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']
target = 'medv'  #The value we are interested in predicting

Normalization of Data

In [6]:
scaler = MinMaxScaler(feature_range=(0, 1))
# Scale both the training inputs and outputs
scaled_train = scaler.fit_transform(train_df)
#scaled_test = scaler.transform(test_df)

In [7]:
multiplied_by = scaler.scale_[13]
added = scaler.min_[13]

In [11]:
scaled_train_df = pd.DataFrame(scaled_train, columns=train_df.columns.values)

Build Model and add fully interconnected layers

In [8]:
model = tf.keras.Sequential()

In [9]:
model.add(tf.keras.layers.Dense(50, activation='relu')) #Specifies activation function as relu
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(50, activation='relu'))
model.add(tf.keras.layers.Dense(1))

In [14]:
model.compile(loss='mean_squared_error', optimizer='adam') #Compile the model

Training the model

In [12]:
X = scaled_train_df.drop(target, axis=1).values
Y = scaled_train_df[[target]].values

In [15]:
model.fit(
    X[10:],
    Y[10:],
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
11/11 - 1s - loss: 0.0727
Epoch 2/60
11/11 - 0s - loss: 0.0299
Epoch 3/60
11/11 - 0s - loss: 0.0231
Epoch 4/60
11/11 - 0s - loss: 0.0187
Epoch 5/60
11/11 - 0s - loss: 0.0151
Epoch 6/60
11/11 - 0s - loss: 0.0132
Epoch 7/60
11/11 - 0s - loss: 0.0110
Epoch 8/60
11/11 - 0s - loss: 0.0100
Epoch 9/60
11/11 - 0s - loss: 0.0091
Epoch 10/60
11/11 - 0s - loss: 0.0083
Epoch 11/60
11/11 - 0s - loss: 0.0075
Epoch 12/60
11/11 - 0s - loss: 0.0077
Epoch 13/60
11/11 - 0s - loss: 0.0068
Epoch 14/60
11/11 - 0s - loss: 0.0069
Epoch 15/60
11/11 - 0s - loss: 0.0066
Epoch 16/60
11/11 - 0s - loss: 0.0073
Epoch 17/60
11/11 - 0s - loss: 0.0054
Epoch 18/60
11/11 - 0s - loss: 0.0055
Epoch 19/60
11/11 - 0s - loss: 0.0054
Epoch 20/60
11/11 - 0s - loss: 0.0048
Epoch 21/60
11/11 - 0s - loss: 0.0049
Epoch 22/60
11/11 - 0s - loss: 0.0052
Epoch 23/60
11/11 - 0s - loss: 0.0044
Epoch 24/60
11/11 - 0s - loss: 0.0048
Epoch 25/60
11/11 - 0s - loss: 0.0045
Epoch 26/60
11/11 - 0s - loss: 0.0041
Epoch 27/60
11/11 - 0s - loss: 0.0041
Epoch 28/60
11/11 - 0s - loss: 0.0039
Epoch 29/60
11/11 - 0s - loss: 0.0037
Epoch 30/60
11/11 - 0s - loss: 0.0036
Epoch 31/60
11/11 - 0s - loss: 0.0036
Epoch 32/60
11/11 - 0s - loss: 0.0042
Epoch 33/60
11/11 - 0s - loss: 0.0041
Epoch 34/60
11/11 - 0s - loss: 0.0044
Epoch 35/60
11/11 - 0s - loss: 0.0045
Epoch 36/60
11/11 - 0s - loss: 0.0038
Epoch 37/60
11/11 - 0s - loss: 0.0087
Epoch 38/60
11/11 - 0s - loss: 0.0041
Epoch 39/60
11/11 - 0s - loss: 0.0036
Epoch 40/60
11/11 - 0s - loss: 0.0030
Epoch 41/60
11/11 - 0s - loss: 0.0031
Epoch 42/60
11/11 - 0s - loss: 0.0034
Epoch 43/60
11/11 - 0s - loss: 0.0032
Epoch 44/60
11/11 - 0s - loss: 0.0031
Epoch 45/60
11/11 - 0s - loss: 0.0033
Epoch 46/60
11/11 - 0s - loss: 0.0030
Epoch 47/60
11/11 - 0s - loss: 0.0029
Epoch 48/60
11/11 - 0s - loss: 0.0030
Epoch 49/60
11/11 - 0s - loss: 0.0029
Epoch 50/60
11/11 - 0s - loss: 0.0032
Epoch 51/60
11/11 - 0s - loss: 0.0027
Epoch 52/60
11/11 - 0s - loss: 0.0029
Epoch 53/60
11/11 - 0s - loss: 0.0024
Epoch 54/60
11/11 - 0s - loss: 0.0024
Epoch 55/60
11/11 - 0s - loss: 0.0025
Epoch 56/60
11/11 - 0s - loss: 0.0028
Epoch 57/60
11/11 - 0s - loss: 0.0026
Epoch 58/60
11/11 - 0s - loss: 0.0025
Epoch 59/60
11/11 - 0s - loss: 0.0023
Epoch 60/60
11/11 - 0s - loss: 0.0024

Testing the model

In [16]:
test_error_rate = model.evaluate(X[:10], Y[:10], verbose=0)
print("The error for the test data set is: {}".format(test_error_rate))

The error for the test data set is: 0.00282767741009593

Try Prediction

In [18]:
prediction = model.predict(X[:1])
y_0 = prediction[0][0]
print('Prediction with scaling - {}',format(y_0))
y_0 -= added
y_0 /= multiplied_by
print("Housing Price Prediction  - ${}".format(y_0))

Prediction with scaling - {} 0.4796333909034729
Housing Price Prediction  - $26.58350259065628